<div class="discussionFormDiv">
  <a routerLink="/viewdiscussions">View Safety Discussions</a>
  <form id="discussionForm" autocomplete="off" name="DiscussionForm" class="form discussionForm" >
    <div class="formHead">
      <h3>Create Discussion Form</h3>
    </div>
    <div class="formBody">
      <div class="row col-sm-12 form-group">
        <div class="frmLbls col-sm-4">
          <label>The Observer
            <span class="red">*</span>
          </label>
        </div>
        <div class="col-sm-8">
          
          <input type="text" class="form-control" name="observer" id="observer" [(ngModel)]="observer"/>
        </div>
      </div>
      <div class="row form-group">
        <div class="frmLbls col-sm-4">
          <label>Date of Discussion
            <span class="red">*</span>
          </label>
        </div>
        <div class="col-sm-8">
          
<input type="text"
           placeholder="Datepicker"
           class="form-control" [(ngModel)]="dateOfDiscussion"  name="dateOfDiscussion"
           bsDatepicker />
        </div>
      </div>
      <div class="row form-group">
        <div class="frmLbls col-sm-4">
          <label>Location of Discussion
            <span class="red">*</span>
          </label>
        </div>
        <div class="col-sm-8">
          
          <input type="text" class="form-control" name="locationOfDiscussion" id="locationOfDiscussion" [(ngModel)]="locationOfDiscussion" />
        </div>
      </div>
      <div class="row form-group">
        <div class="frmLbls col-sm-4">
          <label>Colleague the discussion was with
            <span class="red">*</span>
          </label>
        </div>
        <div class="col-sm-8">
          
          <input type="text" class="form-control" name="colleagueDiscussionWith" id="colleagueDiscussionWith" [(ngModel)]="colleagueDiscussionWith"/>
        </div>
      </div>
      <div class="row form-group">
        <div class="frmLbls col-sm-4">
          <label>Subject of discussion
            <span class="red">*</span>
          </label>
        </div>
        <div class="col-sm-8">
          
          <input type="text" class="form-control" name="subjectOfDiscussion" id="subjectOfDiscussion" [(ngModel)]="subjectOfDiscussion" />
        </div>
      </div>
      <div class="row form-group">
        <div class="frmLbls col-sm-4">
          <label>Outcomes
            <span class="red">*</span>
          </label>
        </div>
        <div class="col-sm-8">
          
          <input type="text" class="form-control" name="outcomes" id="outcomes" [(ngModel)]="outcomes" />
        </div>
      </div>
      <div class="row form-group">
        <button class="form-control" (click)="addDiscussion()">Add Discussion</button>
      </div>
      <div class="row form-group">
        <p class="errorMessage">{{errorMessage}}</p>
        <p class="successMessage">{{successMessage}}</p>
      </div>
    </div>
  </form>
</div>
