<div class="container">
  <a routerLink="/viewdiscussions">View Safety Discussions</a>
  <form id="discussionForm" name="DiscussionForm" class="discussionForm">
    <div class="formHead">
      <h3>Create Discussion Form</h3>
    </div>
    <div class="formBody">
      <div class="row">
        <div class="frmLbls">
          <label>The Observer
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="observer" id="observer" [(ngModel)]="observer"/>
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Date of Discussion
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="dateOfDiscussion" id="dateOfDiscussion" [(ngModel)]="dateOfDiscussion" />
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Location of Discussion
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="locationOfDiscussion" id="locationOfDiscussion" [(ngModel)]="locationOfDiscussion" />
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Colleague the discussion was with
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="colleagueDiscussionWith" id="colleagueDiscussionWith" [(ngModel)]="colleagueDiscussionWith"/>
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Subject of discussion
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="subjectOfDiscussion" id="subjectOfDiscussion" [(ngModel)]="subjectOfDiscussion" />
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Outcomes
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="outcomes" id="outcomes" [(ngModel)]="outcomes" />
        </div>
      </div>
      <div class="row">
        <button (click)="addDiscussion()">Add Discussion</button>
      </div>
    </div>
  </form>
</div>
