<div class="container">
  <form>
    <div class="formHead">
      <span>Create Discussion Form</span>
    </div>
    <div class="formBody">
      <div class="row">
        <div class="frmLbls">
          <label>The Observer
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="observer" />
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Date of Discussion
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="observer" />
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Location of Discussion
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="observer" />
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Colleague the discussion was with
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="observer" />
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Subject of discussion
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="observer" />
        </div>
      </div>
      <div class="row">
        <div class="frmLbls">
          <label>Outcomes
            <!-- <span *ngIf="formElements?.firstName?.isMandatory" class="red">*</span> -->
          </label>
        </div>
        <div [ngClass]="{ 'frmInputs': true, 'has-error': formElements?.firstName?.hasError}">
          <!-- <input type="text" name="firstName" [(ngModel)]="formElements.firstName.value" autocomplete="off" required tabindex="2" maxlength="50"
            (click)="clearSuccess()" /> -->
          <input type="text" name="observer" />
        </div>
      </div>
    </div>
  </form>
</div>
